<%= form_for([:admin, @brand]) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <% if @brand.logo? %>
    <div>
      <%= image_tag(@brand.logo_url) %>
      <label>
        <%= f.check_box :remove_logo %>
        Remove logo
      </label>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>

  <div>
    <label>My logo URL:</label>
    <%= f.text_field :remote_logo_url %>
  </div>

  <div class="actions">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
